//gitlab-p2.autobid.de/api/v4/projects/228/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab-p2.autobid.de/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
@gitlab-p2.autobid.de:registry=https://gitlab-p2.autobid.de/api/v4/packages/npm/