@gitlab-p2.autobid.de:registry=https://gitlab-p2.autobid.de/api/v4/packages/npm/
//gitlab-p2.autobid.de/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab-p2.autobid.de/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}